.styleProp-delete {
    width: 20px;
    height: 20px;
}

.styleProp-main_text {
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

.styleProp-key {
    min-width: 20%;
}

.styleProp-input {
    min-width: 50%;
}